body {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
  padding: 30px;
}

h1 {
  color: #333;
}

a {
  color: #0056b3;
  text-decoration: none;
}

section {
  margin-top: 20px;
}

.proyecto {
  background: white;
  padding: 15px;
  border-radius: 6px;
  margin-bottom: 15px;
}

/* ESTILOS NUEVOS */
.contacto {
  margin-top: 40px;
  padding: 20px;
  background-color: #f0f4f8;
  border-left: 5px solid #0077cc;
  border-radius: 5px;
}

.boton-cv {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 16px;
  background-color: #0077cc;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
}

.boton-cv:hover {
  background-color: #005fa3;
}
